# 字节编译 / 优化 / DLL 文件
__pycache__/
*.py[cod]
*$py.class

# C 扩展
*.so

# 发布 / 打包
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
# 通常这些文件是由一个 Python 脚本从模板中写入的，
# 在 PyInstaller 构建 exe 之前，将日期/其他信息注入其中。
*.manifest
*.spec

# 安装程序日志
pip-log.txt
pip-delete-this-directory.txt

# 单元测试 / 覆盖率报告
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
cover/

# 翻译
*.mo
*.pot

# Django 项目
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask 项目
instance/
.webassets-cache

# Scrapy 项目
.scrapy

# Sphinx 文档
docs/_build/

# PyBuilder 项目
.pybuilder/
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
# 对于库或软件包，您可能希望忽略这些文件，
# 因为代码旨在在多个环境中运行；否则，请检查它们：
# .python-version

# pipenv
# 根据 pypa/pipenv#598，建议将 Pipfile.lock 放入版本控制。
# 但是，如果存在特定于平台的依赖项或不支持跨平台的依赖项，
# pipenv 可能会安装不起作用的依赖项，或者不会安装所有所需的依赖项。
#Pipfile.lock

# poetry
# 与 Pipfile.lock 类似，通常建议在版本控制中包含 poetry.lock。
# 特别是对于二进制包，以确保可重现性，更常见的是忽略库。
# https://python-poetry.org/docs/basic-usage/#commit-your-poetrylock-file-to-version-control
#poetry.lock

# PEP 582；例如，github.com/David-OConnor/pyflow 使用
__pypackages__/

# Celery 项目
celerybeat-schedule
celerybeat.pid

# SageMath 解析文件
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder 项目设置
.spyderproject
.spyproject

# Rope 项目设置
.ropeproject

# mkdocs 文档
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre 类型检查器
.pyre/

# pytype static type analyzer
.pytype/

# Cython debug symbols
cython_debug/

# PyCharm
#  JetBrains specific template is maintainted in a separate JetBrains.gitignore that can
#  be found at https://github.com/github/gitignore/blob/main/Global/JetBrains.gitignore
#  and can be added to the global gitignore or merged into this file.  For a more nuclear
#  option (not recommended) you can uncomment the following to ignore the entire idea folder.
#.idea/
